body{
    background-color: rgb(240, 233, 225);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 25%;
}

.logo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: block;
    width: 400px;
    margin-left: 30%;50
    position: relative;
    background-image: linear-gradient(
        #000000,
        #2b2525,
        
    );
    color blockquote;
}

div{
    text-align: center;
    font-size: large;
}
